
#header {
  padding: 5px;
  background-color: rgb(18, 0, 31);
  color: rgb(255, 255, 200);
  text-align: center;
  font-family: fantasy;
}
body {
  padding: 0px;
  margin: 0px;
}
.menu-button {
  height: 50px;
  width: 150px;
  background-color: rgb(34, 0, 66);
  border: 0px;
  color: rgb(255, 255, 200);
  margin: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.menu-button:hover {
  background-color: indigo;
  color: yellow;
  cursor: pointer;
}
.menu {
  display: flex;
}
.news{
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgb(1, 2, 43);
    color: rgb(255, 255, 200);
}
#weather{
  background-color: rgb(1, 2, 43);
    color: rgb(255, 255, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    background: linear-gradient(to right , rgb(10, 0, 41),rgb(2, 2, 112) );
}
.main-weather{
border: solid white 2px;
max-width: 200px;
text-align: center;
transition: transform 0.3s;
 }
 .main-weather:hover{
transform: scale(1.02);
 }
.condition::before{
  content:"☁️"

}
footer{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 200);
  background: linear-gradient(to right , rgb(10, 0, 41),rgb(2, 2, 112) );
  padding: 1px;
  text-align: center;
}

